{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div id="container">
        <div class="logout"">
            <a href="/logout">logout</a>
        </div>
        <div class="voltar">
            <a href="/">Voltar</a>
        </div>         
    </div>
    