{% extends 'model-page.html' %}

    {% block content %}
     
    <center><h1>Agendamentos</h1></center>
    
    <h2><b>{{ usuario }}</b></h2>
    <table class="table table-striped table-hover table-responsive" id="lista">   
                      
            <tr>
                <th>Evento</th>
                <th>Data do Evento</th>
                <th>Descrição da atividade</th>
                <th>Local</th>
            </tr>
            <tr>
                <td>
                    {{ consulta.titulo }}
                </td>
                <td>
                    {{ consulta.get_data_evento }}
                </td>
                <td>
                    {{ consulta.descricao }}
                </td> 
                <td>
                    {{ consulta.local }}
                </td>                 
            </tr> 
    </table>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a href="/agenda/evento/?id={{consulta.id}}" style="margin: 10px;">
            <button class="btn btn-sm btn-primary btn-block btn btn-warning" type="submit">Alterar</button>
        </a>
        
        <a href="/agenda/evento/delete/{{consulta.id}}" style="margin: 10px;" >
            <button class="btn btn-sm btn-primary btn-block btn btn-danger" type="submit">Excluir</button>
        </a> 
    </div>    
    {% endblock %}
